@media screen and (max-width: 919px) {
  #whole {
    width: 100%;
  }
  #content {
    width: 100%;
  }
  #left-image {
    width: 40%;
  }
  #right-form {
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  #whole {
    width: 100%;
  }
  #content {
    width: 100%;
  }
  #left-image {
    width: 40%;
  }
  #right-form {
    width: 60%;
  }
}

@media screen and (max-width: 320px) {
  #whole {
    width: 320px;
  }
}

body {
  background-color: #1c1a19;
}

.wrapper {
  height: 560px;
  width: 920px;
  position: absolute;
  margin: 0px auto;
  background-color: #fffcf7;
  z-index: 1;
}

.closeButton {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  top: 10px;
  right: 10px;
  z-index: 4;
}

.xBox img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  right: 0px;
  z-index: 2;
}

.popWindow {
  visibility: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popWindow .popUpText {
  position: absolute;
  background-color: #c9c7c5;
  color: #000000;
  border-radius: 20px;
  height: 80px;
  width: 150px;
  left: -450px;
  bottom: 50px;
  text-align: center;
  font: 14 "Futura", Trebuchet MS, Arial, sans-serif;
  margin: 0 auto;
  z-index: 4;
}

#laterPopUp {
  padding-top: 25px;
}

#content {
  position: absolute;
  top: 0px;
  background-color: #fffcf7;
  height: 560px;
  width: 920px;
  margin: 0px auto;
  overflow: hidden;
  padding-bottom: 0px;
}

#left-image {
  background-color: #fffcf7;
  position: relative;
  left: 0px;
  height: 550px;
  width: 368px;
  padding-top: 10px;
  padding-left: 10px;
  overflow: hidden;
}

.crop {
  width: 368px;
  height: 540px;
  overflow: hidden;
}

.crop img {
  width: 1630px;
  height: auto;
}

#imgPos {
  margin: -235px 0 0 -375px;
}

#right-form {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #fffcf7;
  height: 540px;
  width: 552px;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}

#right-form h1 {
  position: relative;
  font-style: bold;
  font: 42px "Futura", Trebuchet MS, Arial, sans-serif;
  text-transform: uppercase;
  width: 880;
  margin: 0px auto;
  padding-top: 55px;
}

#right-form h2 {
  padding-top: 10px;
  position: relative;
  font: 20px "Futura", Trebuchet MS, Arial, sans-serif;
  width: 300px;
  margin: 0px auto;
}

#right-form .getEmail {
  padding-top: 10px;
}

#right-form #emailAdd label {
  width: 100%;
  display: block;
}

#right-form #emailAdd {
  border: 1px solid #c9c7c5;
  border-style: solid;
  font: 20px "Futura", Trebuchet MS, Arial, sans-serif;
  color: #757270;
  width: 80%;
  height: 45px;
  margin: 15px;
}

#right-form ::placeholder {
  line-height: 30px;
  color: #c9c7c5;
  font: 24px "Futura", Trebuchet MS, Arial, sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
  font-style: normal;
}

#right-form #sendBtn {
  margin: 5px 0 10px 0;
  width: 80%;
  height: 45px;
  background-color: #000000;
  color: #ffffff;
  font: 30px "Futura", Trebuchet MS, Arial, sans-serif;
  text-transform: uppercase;
  border: none;
}

#right-form .getEmail #noThnx {
  width: 80%;
  position: relative;
  text-align: right;
  font: 20px "Futura", Trebuchet MS, Arial, sans-serif;
  top: 0px;
  color: #c9c7c5;
  margin: 0px auto;
}

#right-form .noThnxButton {
  top: 0px;
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

#right-form #socialLinks {
  position: relative;
  width: 80%;
  height: 40px;
  bottom: 0px;
  padding-top: 100px;
  margin: 0 auto;
}

#right-form #socialLinks img {
  height: 31px;
  width: 31px;
}

.show {
  visibility: visible;
}

.dontShow {
  visibility: hidden;
}
