* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1c1a19;
}

.wrapper {
  margin: 0px auto;
  padding: 1.4%;
}

#whole {
  position: relative;
  background-color: #fffefc;
  min-width: 400px;
  min-height: 250px;
  max-width: 920px;
  max-height: 560px;
  overflow: hidden;
}

#content {
  display: block;
  background-color: #fffefc;
  position: relative;
  top: 0px;
  padding-top: 0px;
  margin: 0 auto;
  min-width: 400px;
  min-height: 250px;
  max-width: 920px;
  max-height: 560px;
  overflow: hidden;
}

.left {
  position: absolute;
}

#left-image {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: 40%;
  max-height: 100%;
}

#crop {
  width: 100%;
  max-height: 100%;
}

#crop img {
  max-width: 100%;
  max-height: 100%;
}

.right {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: 10%;
  margin: 0px auto;
}

#right-frame {
  display: block;
  top: 0px;
  right: 0px;
  max-width: 60%;
  max-height: 100%;
  padding-right: 2%;
  overflow: hidden;
}

.closeButton {
  position: absolute;
  width: 39px;
  height: 39px;
  border: none;
  top: 0px;
  right: 0px;
  z-index: 4;
}

#xBox {
  width: 40px;
  height: 40px;
}

.xBox img {
  position: relative;
  width: 40px;
  height: 40px;
  top: 0px;
  right: 0px;
  z-index: 2;
}

#textHandler {
  poisition: relative;
  align: left;
  width: 60%;
  padding-top: 0%;
  padding-left: 5%;
  margin: 0 auto;
  width: 100%;
}

h1 {
  position: relative;
  font-style: bold;
  font: 35px "helvetica neue", sans-serif;
  text-transform: uppercase;
  width: 100%;
  padding-top: 20%;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

h2 {
  position: relative;
  padding-top: 10px;
  font: 20px "helvetica", sans-serif;
  font-style: normal;
  letter-spacing: .5px;
  line-height: 1.6;
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

::placeholder {
  line-height: 30px;
  color: #c9c7c5;
  font: 20px "helvetica", sans-serif;
  font-stlye: normal;
  padding-left: 10px;
  padding-top: 5px;
  text-align: left;
  font-style: normal;
}

::-moz-placeholder {
  line-height: 50px;
  text-indent: 10px;
  padding-left: 20px;
}

#emailAdd {
  position: relative;
  border: 1px solid #c9c7c5;
  border-style: solid;
  font: 22px "helvetica", sans-serif;
  color: #757270;
  width: 85%;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#emailAdd label {
  display: block;
  border: 1px solid #c9c7c5;
  border-style: solid;
  font: 22px "helvetica", sans-serif;
  color: #757270;
  width: 100%;
  height: 50px;
}

#field_buttons {
  padding-left: 5%;
  margin: 0 auto;
  width: 100%;
}

#sendBtn {
  width: 85%;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  font: 22px "helvetica neue", sans-serif;
  text-transform: uppercase;
  border: none;
}

#getEmail {
  position: relative;
  top: 0px;
  right: 0px;
  padding-left: 15%;
  padding-top: 1%;
}

.getEmail #noThnx {
  position: relative;
  width: 85%;
  text-align: right;
  font: 20px "helvetica", sans-serif;
  bottom: 0px;
  color: #c9c7c5;
  margin: 0px auto;
}

.noThnxButton {
  display: inline-block;
  background: none;
  border: none;
  padding-top: 2%;
  outline: none;
}

.popWindow {
  visibility: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popWindow .popUpText {
  position: absolute;
  background-color: #c9c7c5;
  color: #000000;
  border-radius: 20px;
  height: 80px;
  width: 150px;
  left: -450px;
  bottom: 50px;
  text-align: center;
  font: 14px "helvetica", sans-serif;
  margin: 0 auto;
  z-index: 4;
}

#scrollPopUp {
  position: absolute;
  background-color: #c9c7c5;
  top: 5%;
  left: 50%;
  border-radius: 10px;
  text-align: center;
  font: 14px "helvetica", sans-serif;
  visibility: hidden;
  opacity: .75;
  height: 30px;
  width: 100px;
}

#scrollText {
  display: block;
  position: relative;
  padding-top: 5.5%;
}

#socialLinks {
  position: relative;
  align: center;
  width: 100%;
  height: 40px;
  bottom: 0px;
  padding-top: 10%;
  padding-left: 5%;
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
}

#socialLinks img {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 1200px) {
  #whole {
    width: 100%;
    height: 100%;
  }
  #content {
    width: 100%;
    height: 100%;
  }
  #left-image {
    width: 40%;
    height: 100%;
  }
  #right-frame {
    width: 60%;
    height: 100%;
  }
  #textHandler {
    width: 60%;
  }
  #scrollPopUp {
    visibility: visible;
  }
}

@media screen and (max-width: 1024px) {
  #whole {
    width: 100%;
    height: 100%;
  }
  #content {
    width: 100%;
    height: 100%;
  }
  #left-image {
    width: 40%;
    height: 100%;
  }
  #right-frame {
    width: 60%;
    height: 100%;
  }
  #textHandler {
    width: 60%;
  }
  #scrollPopUp {
    visibility: visible;
  }
}

@media screen and (max-width: 768px) {
  #whole {
    width: 100%;
    height: 100%;
  }
  #content {
    width: 100%;
    height: 100%;
  }
  #left-image {
    width: 40%;
    height: 100%;
  }
  #right-frame {
    width: 60%;
    height: 100%;
  }
  #textHandler {
    width: 60%;
  }
  #scrollPopUp {
    visibility: visible;
  }
}

@media screen and (max-width: 1200px) {
  #whole {
    width: 100%;
    height: 100%;
  }
  #content {
    width: 100%;
    height: 100%;
  }
  #left-image {
    width: 40%;
    height: 100%;
  }
  #right-frame {
    width: 60%;
    height: 100%;
    overflow-y: auto;
  }
  #textHandler {
    width: 60%;
  }
  #scrollPopUp {
    visibility: visible;
  }
}

@media screen and (max-width: 640px) {
  #whole {
    width: 100%;
    height: auto;
  }
  #content {
    width: 100%;
    height: auto;
  }
  #left-image {
    width: 40%;
    height: auto;
  }
  #right-frame {
    width: 60%;
    height: auto;
    overflow-y: auto;
  }
  #textHandler {
    width: 60%;
  }
  #textHandler h1 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  #textHandler #scrollPopUp {
    visibility: visible;
  }
  #crop {
    width: auto;
  }
}

@media screen and (max-width: 570px) {
  #whole {
    width: 100%;
    height: 100%;
  }
  #content {
    width: 100%;
    height: 100%;
  }
  #left-image {
    width: 40%;
    height: 100%;
  }
  #right-frame {
    width: 60%;
    height: 100%;
    overflow-y: auto;
  }
  #textHandler {
    width: 60%;
  }
  #textHandler h1 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  #scrollPopUp {
    visibility: visible;
  }
}

@media screen and (max-width: 400px) {
  #whole {
    width: 100%;
    height: 100%;
  }
  #content {
    width: 100%;
    height: 100%;
  }
  #left-image {
    width: 40%;
    height: 100%;
  }
  #right-frame {
    width: 60%;
    height: 100%;
    overflow-y: auto;
  }
  #textHandler {
    width: 60%;
  }
  #textHandler h1 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  #textHandler #scrollPopUp {
    visibility: visible;
  }
}
