.wrapper {
  height: 560px;
  width: 920px;
  margin: 0px auto;
}

#content {
  position: absolute;
  top: 0px;
  background-color: #eaeae8;
  border: dotted #000000;
  height: 560px;
  width: 920px;
  margin: 0px auto;
  overflow: hidden;
  padding-bottom: 0px;
}

#left-image {
  background-color: #fffcf7;
  position: relative;
  left: 0px;
  height: 560px;
  width: 368px;
  padding-top: 10px;
  padding-left: 10px;
  overflow: hidden;
}

.crop {
  width: 368px;
  height: 560px;
  overflow: hidden;
}

.crop img {
  width: 1630px;
  height: auto;
}

#imgPos {
  margin: -235px 0 0 -375px;
}

#test-div {
  position: relative;
  right: 0px;
}

.Xbox img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  z-index: 2;
}

#right-form {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #fffcf7;
  height: 550px;
  width: 552px;
  text-align: center;
  padding: 5px;
  overflow: hidden;
}

#right-form h1 {
  position: relative;
  font-style: bold;
  font: 42px "Futura", Trebuchet MS, Arial, sans-serif;
  text-transform: uppercase;
  width: 920px -40 px;
  margin: 0px auto;
  padding-top: 55px;
}

#right-form h2 {
  padding-top: 10px;
  position: relative;
  font: 20px "Futura", Trebuchet MS, Arial, sans-serif;
  width: 300px;
  margin: 0px auto;
}

#right-form .getEmail {
  padding-top: 10px;
}

#right-form #emailAdd label {
  width: 100%;
  display: block;
}

#right-form #emailAdd {
  border: 1px solid #c9c7c5;
  border-style: solid;
  width: 80%;
  height: 45px;
  margin: 15px;
}

#right-form :focus {
  background-color: #fffcf7;
}

#right-form ::-webkit-input-placeholder {
  padding-top: 10px;
}

#right-form :-moz-placeholder {
  padding-top: 10px;
}

#right-form :-ms-input-placeholder {
  padding-top: 10px;
}

#right-form ::placeholder {
  color: #c9c7c5;
  font: 25px "Futura", Trebuchet MS, Arial, sans-serif;
  padding-top: 0px;
  text-align: left center;
  font-style: normal;
}

#right-form #sendBtn {
  width: 80%;
  height: 45px;
  background-color: #000000;
  color: #ffffff;
  font: 30px "Futura", Trebuchet MS, Arial, sans-serif;
  text-transform: uppercase;
  border: none;
}

#right-form .getEmail #noThnx {
  width: 80%;
  position: relative;
  text-align: right;
  font: 20px "Futura", Trebuchet MS, Arial, sans-serif;
  top: 0px;
  color: #c9c7c5;
}

#right-form .getEmail #noThnx .social {
  position: absolute;
  bottom: 10px;
  padding-top: 100px;
}

#right-form .getEmail #noThnx .social img {
  height: 31px;
  width: 31px;
}
